header,
.card,
article {
	background-color: #f3e9f1;
}
header .nav-link {
	transform: scale(1);
	transition: all 200ms;
}
header .nav-link:hover {
	transform: scale(1.1);
	transform-origin: center left;
}
.badge-primary {
	background-color: #8f5bfe;
	font-weight: 600;
	font-size: 1rem;
	vertical-align: middle;
	color: #e3973d;
	position: relative;
	animation: enhance 400ms alternate infinite paused;
}
.badge-primary img {
	width: 20px;
	position: relative;
	top: -2px;
}
@keyframes enhance {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.5);
	}
}

.banner {
	background-image: url("img/banner.png");
	min-height: 258px;
	background-position: center;
	/* background-repeat: no-repeat; */
	/* background-size: cover; */
	position: relative;
}
body {
	background: linear-gradient(rgba(227, 151, 61, 0.5), rgba(143, 91, 254, 0.5));
}

.jumbotron.title {
	background-color: #f3e9f1;
	color: #5f3aad;
	font-weight: 600;
	font-style: italic;
}
.form-inline label {
	font-size: 1.25rem;
}
#peluche {
	border: solid 2px #5f3aad;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	height: 40px;
	max-width: 250px;
}
label img {
	padding: 0 0.5rem;
}
#search {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	border: solid 2px #5f3aad;
	margin-left: -2px;
	height: 40px;
}

#search span {
	transform: scale(1);
	transition: all 200ms;
}
#search:hover span,
#search:focus span {
	transform: scale(1.2);
}
.card-img-top {
	height: 250px;
	object-fit: fill;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}
.btn-primary {
	background-color: #8f5bfe;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active {
	background-color: #5f3aad;
	font-weight: 600;
}

.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 0.2rem rgba(143, 91, 254, 0.5);
}
.card {
	border-radius: 1rem;
}
.list-inline-item {
	border: 2px solid #5f3aad;
	border-radius: 1.5rem;
	padding: 0.25rem 0.5rem;
	color: white;
	background-color: #e3973d;
	transform: scale(1);
	transition: transform 200ms;
}
.list-inline-item:hover,
.list-inline-item:focus {
	transform: scale(1.1);
}
.list-inline-item a {
	color: #5f3aad;
	font-weight: 600;
	text-decoration: none;
}
.list-inline-item i {
	color: white;
}
@media all and (min-width: 992px) {
	.card-img-top {
		height: 300px;
	}
}
@media all and (min-width: 1200px) {
	.card-img-top {
		height: 350px;
	}
}

/* #region  Footer */
footer {
	background-color: #5f3aad;
}
footer .nav-link {
	font-weight: 600;
	transform: scale(1);
	transition: all 200ms;
}
footer .nav-link:hover {
	transform: scale(1.1);
	text-decoration: underline;
}
.fab {
	color: #5f3aad;
}
.fa-inverse.fas {
	color: rgba(255, 255, 255, 0.8);
}

.dropdown-menu {
	background-color: rgba(255, 255, 255, 0.5);
}
.dropdown-menu a {
	color: #5f3aad;
	font-weight: 600;
}
/* #endregion */

/* #region  Article Page */
.goback {
	color: #5f3aad;
	font-weight: 400;
	background-color: transparent;
	border-radius: 1rem;
	transition: all 250ms;
}
.goback:hover,
.goback:focus {
	color: #5f3aad;
	background-color: #e3973d;

	text-decoration: none;
	font-weight: 600;
}
.custom-select,
#quantity {
	background-color: #ffcb6f;
	border: 2px solid #5f3aad;
	max-width: 200px;
	height: 40px;
}
.input-group-prepend {
	margin-right: -2px;
}
.input-group-append {
	margin-left: -2px;
}
.input-group-text,
[class*="input-group"] button {
	background-color: transparent;
	color: #5f3aad;
	border: 2px solid #5f3aad;
}

.custom-select:focus,
#quantity:focus {
	box-shadow: 0 0 0 0.2rem rgba(143, 91, 254, 0.5);
	border: 2px solid #5f3aad;
	color: black;
}

#price {
	font-size: 1.5rem;
}

[class*="input-group"] button {
	color: #5f3aad;
}
[class*="input-group"] button:hover,
[class*="input-group"] button:focus {
	background-color: #5f3aad;
	color: white;
	border: 2px solid #5f3aad;
}
[class*="input-group"] button:focus {
	box-shadow: 0 0 0 0.2rem rgba(143, 91, 254, 0.5);
}
[class*="input-group"] button:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 0.2rem rgba(143, 91, 254, 0.5);
	background-color: #5f3aad;
	color: white;
	border: 1px solid #5f3aad;
}

@media all and (max-width: 390px) {
	#customization {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	#color {
		padding-left: 0.125rem;
	}
	.input-group-text {
		padding-left: 0.125rem;
		padding-right: 0.125rem;
	}
}
#quantity {
	color: black;
	max-width: 100px;
	min-width: 40px;
	appearance: textfield;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
}
#addcart {
	border-radius: 1.5rem;
	background-color: #5f3aad;
	font-weight: 600;
	transform: scale(1);

	transition: all 250ms;
}

#addcart:hover {
	transform: scale(1.1);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
/* #endregion */

/* #region  Cart */
.table {
	border-color: #5f3aad;
}
td img {
	max-width: 150px;
	width: 100%;
}

.table td,
.table thead th {
	vertical-align: middle;
	border-color: #5f3aad;
}
.table tfoot td {
	
	border-width:2px;
	border-bottom: solid 1px #5f3aad;
/* #endregion */
